# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/

### Maven ###
.mvn/
mvnw
mvnw.cmd

HELP.md
target/
